name: Deployment

on:
  push:
    branches: [main]

jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/create-forwarder-dll
    permissions:
      id-token: write
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v6
      with:
        python-version: '3.13'

    - name: build wheel
      run: |
        echo $PWD
        ls -al .
        pip install build
        python -m build .

    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
